-- https://github.com/haskell/cabal/issues/5956
verbose: normal +nowrap +markoutput
remote-build-reporting: anonymous
write-ghc-environment-files: always

remote-repo-cache: /home/haskellci/.cabal/packages
logs-dir:          /home/haskellci/.cabal/logs
world-file:        /home/haskellci/.cabal/world
extra-prog-path:   /home/haskellci/.cabal/bin
symlink-bindir:    /home/haskellci/.cabal/bin
installdir:        /home/haskellci/.cabal/bin
build-summary:     /home/haskellci/.cabal/logs/build.log
store-dir:         /home/haskellci/.cabal/store

install-dirs user
  prefix: /home/haskellci/.cabal

repository hackage.haskell.org
  url: http://hackage.haskell.org/
  secure: True
  key-threshold: 3
  root-keys:
    fe331502606802feac15e514d9b9ea83fee8b6ffef71335479a2e68d84adc6b0
    1ea9ba32c526d1cc91ab5e5bd364ec5e9e8cb67179a471872f6e26f0ae773d42
    2c6c3627bd6c982990239487f1abd02e08a02e6cf16edb105a8012d444d870c3
    0a5c7ea47cd1b15f01f5f51a33adda7e655bc0f0b0615baa8e271f4c3351e21d
    51f0161b906011b52c6613376b1ae937670da69322113a246a09f807c62f6921
